<section class="digest-section section-interests">
  <div class="container">
    <h2 class="section-title">You're already subscribed!</h2>
    <p class="section-introduction">
      Your next digest will be here soon.
    </p>
  </div>
</section>
