<section class="digest-section section-interests">
  <div class="container">
    <h2 class="section-title">Thanks for subscribing!</h2>
    <p class="section-introduction">
      We'll send you your first digest on <%= next_digest_at.strftime('%A') %>.
    </p>
  </div>
</section>
