<section class="digest-section section-interests">
  <h2 class="section-title">We're sorry to see you go.</h2>

  <p class="section-introduction">
    <a href="/">You're welcome back at any time!</a>
  </p>
</section>
